
# IntelliJ 
.idea/**/*
out/

# Gradle and Maven with auto-import
.idea/compiler.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

# mpeltonen/sbt-idea plugin
.idea_modules/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.tar.gz
